aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
bpy==5.1.1
cadquery==2.8.0
cadquery-ocp==7.9.3.1.1
cadquery-ocp-proxy==7.9.3.1.1
cadquery_vtk==9.3.1
casadi==3.7.2
cattrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.4
ezdxf==1.4.4
fake-bpy-module==20260429
fonttools==4.63.0
frozenlist==1.8.0
gmsh==4.15.2
idna==3.13
Jinja2==3.1.6
kiwisolver==1.5.0
linkify-it-py==2.1.0
llvmlite==0.48.0
markdown-it-py==4.2.0
markdown2==2.5.5
MarkupSafe==3.0.3
matplotlib==3.11.1
mdit-py-plugins==0.6.1
mdurl==0.1.2
more-itertools==11.1.0
msgpack==1.2.0
multidict==6.7.1
multimethod==1.12
nlopt==2.10.0
numba==0.66.0
numpy==2.4.4
opencv-python==4.13.0.92
packaging==26.2
path==17.1.1
pdoc==16.0.0
pillow==12.3.0
platformdirs==4.9.6
propcache==0.5.2
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
rich==15.0.0
runtype==0.5.3
scipy==1.18.0
six==1.17.0
textual==8.2.7
trame==3.13.2
trame-client==3.13.2
trame-common==1.2.4
trame-components==2.5.0
trame-server==3.12.5
trame-vtk==2.11.12
trame-vuetify==3.2.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
vtk==9.6.2
wslink==2.5.7
yarl==1.24.2
zstandard==0.25.0
